<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container main-container">
      <div class="row">
        <div class="col-md-4 offset-md-4 mt-4">
          <form id="register-form" method="post" action="register.php" autocomplete="off">
            <h3>Sign up for an account</h3>
            {% if register.errors.email %}
              {% set emailErrorMessage = register.errors.email %}
              {% set emailInvalid = 'is-invalid' %}
            {% endif %}
            <div class="form-group">
              <label for="email">Email address</label>
              <input id="email" value="{{email}}" type="email" class="form-control {{emailInvalid}}" name="email" placeholder="you@domain.com" autocomplete="new-password">
              <div class="invalid-feedback">{{emailErrorMessage}}</div>
            </div>
            {% if register.errors.password %}
              {% set passwordErrorMessage = register.errors.password %}
              {% set passwordInvalid = 'is-invalid' %}
            {% endif %}
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control {{passwordInvalid}}" name="password" placeholder="minimum 8 characters" autocomplete="new-password">
              <div class="invalid-feedback">{{passwordErrorMessage}}</div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>